/*******************************************
UNIVERSAL
********************************************/

/*Use this to hide scrollbars on webpages*/
::-webkit-scrollbar {
    width: 0px;
		height: 0px;
    background: transparent; /* make scrollbar transparent*/
}

.main-header {
	background-color: green;
}

.footer {
	float: left;
	padding: .5em 0;
	background: #d9e4ea;
  height: 8vh;
  margin-top: auto;
}

.footer p {
  float: right;
  padding-right: 3%;
}

.footer img {
  height: 100%;
  padding-left: 2%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1{
  text-align: center;
}

ul li {
  list-style: none;
}

/*******************************************
INDEX
********************************************/

.index-background{
  background-image: url("../img/treetops.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.index-nav li {
  display: inline-block;
  padding: 10% 0 0 11.5%;
}

.index-nav img {
  max-height: 50vh;
  max-width: 50vw;
}

/*******************************************
CONSTRUCTION/FURNITURE
********************************************/

.carousel {
  margin-top: 40%;
  margin-left: 2%;
  width: 258px;
}

.nav li {
	display: inline;
	padding: 0 2.5%;
}

.carousel-background {
  background-color: purple;
}

/*******************************************
CONTACT
********************************************/

.contact-form{
  margin: 50% 7% 0 7%;
	border: none;
}

.contact-form-label {
  margin-left: 37.5%;
}

.contact-form-label-long{
  margin-left: 22%;
}

.contact-input {
  margin-left: 7.5%
}

button {
  margin: 3% 0 0 35%;
}

#contact {
	background-color: black;
}

.contact-form label{
	color: white;
}

/*******************************************
MEDIA QUERIES
********************************************/
/*
Add Bootstrap for form page:
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
*/

@media (min-width: 305px){
  .nav {
    text-align: center;
  }
  .carousel {
    margin: 0;
    margin: 40% 0 0 10%;
  }
}

@media (min-width: 327px) {
  .index-body {
    height: auto;
  }
}

@media (min-width: 347px) {
  .carousel {
    margin-left: 15%;
    margin-top: 30%;
  }

  .contact-form{
    margin: 40% 30% 0 7%;
  	border: none;
    padding-left: 10%;
  }
}

@media (min-width: 500px) {
  .carousel {
    margin-left: 30%;
  }

  .contact-form{
    margin: 30% 30% 0 7%;
  	border: none;
    padding-left: 20%;
  }
}

@media (min-width: 618px) {
  body {
    height: 100vh;
  }

  h1 {
    float: left;
    padding-left: 5px;
  }

  .nav {
    float: right;
  }

  .contact-form{
    margin: 20% 30% 0 7%;
  	border: none;
    padding-left: 25%;
  }
}

@media (min-width: 750px) {
  .carousel {
    margin-top: 20%;
  }

  .contact-form {
    margin-left: 10%;
  }
}

@media (min-width: 1069px) {
  .index-body {
    height: 100vh;
  }

  .carousel {
    margin-top: 15%;
    margin-left: 40%;
  }

  .contact-form-label {
    padding-left: 5%;
  }
}
